<h1 class="margin-container text-center">DESSI</h1>

<table class="table margin-container">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Tema</th>
      <th>Objetivos</th>
      <th>Opciones</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Introducción a la ingenieria del software</td>
      <td>Aprender conceptos básicos de ingenieria</td>
      <button type="button" class="btn btn-outline-success fa fa-check btn-check" aria-hidden="true"></button>

    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Metodologias Agiles</td>
      <td>Aprender tipos de metodologías</td>
      <button type="button" class="btn btn-outline-success fa fa-check btn-check" aria-hidden="true"></button>

    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Gamificación</td>
      <td>Aprender conceptos básicos gamificación</td>
      <button type="button" class="btn btn-outline-success fa fa-check btn-check" aria-hidden="true"></button>

    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Examen 1</td>
      <td>Examen 3 primeros temas</td>
      <button type="button" class="btn btn-outline-success fa fa-check btn-check" aria-hidden="true"></button>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>UML</td>
      <td>Aprender conceptos básicos UML</td>
      <button type="button" class="btn btn-outline-success fa fa-check btn-check" aria-hidden="true"></button>
    </tr>
  </tbody>
</table>
