<table>
   <tr>
      <td>
        <h3 class="margin-container text-center">Notificaciones</h3>

        <ul class="list-group2 margin-container">
          <li class="list-group-item">El explorador Miguel ha entregado tarea 1</li>
          <li class="list-group-item">El explorador Juan ha entregado tarea 2</li>
          <li class="list-group-item">El explorador Pepe ha entregado tarea 3</li>
        </ul>
      </td>
      <td>
        <h3 class="margin-container margin text-center">Estado de entrega</h3>
        <ul class="list-group2 margin-container margin-list margin">
          <li class="list-group-item">Tarea 1: 15/20 entregados</li>
          <li class="list-group-item">Tarea 2: 20/20 entregados</li>
          <li class="list-group-item">Tarea 3: 5/20 entregados</li>

        </ul>
      </td>
   </tr>
</table>
