<h3 class="margin-container">Explorador <small>{{explorador.nombre}}</small></h3>
<hr>
<button (click)="agregarNuevo(forma)"
    type="button" class="btn btn-outline-success">
    Nuevo Explorador
</button>
<hr>
<form (ngSubmit)="guardar()" #forma="ngForm">

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">DNI</label>
      <div class="col-8">

        <input [(ngModel)]="explorador.dni"
              class="form-control"
              name="dni"
              type="text"
              placeholder="DNI"
              required>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input [(ngModel)]="explorador.nombre"
              class="form-control"
              name="nombre"
              type="text"
              placeholder="Nombre"
              required>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input
              [(ngModel)]="explorador.apellido"
              class="form-control"
               type="text"
               name="apellido"
               placeholder="Apellido"
               required>
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">

      <input
            [(ngModel)]="explorador.correo"
            class="form-control"
            name="correo"
             type="email"
             placeholder="Correo electrónico"
             required>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Asignatura</label>
    <div class="col-8">

      <input [(ngModel)]="explorador.asignatura"
            class="form-control"
            name="asignatura"
            type="text"
            placeholder="Asignatura"
            required>
    </div>
  </div>

<hr>
<h3>Notas</h3>

  <table class="table table-bordered">
  <thead>
    <tr>
      <th>Tarea 1</th>
      <th>Tarea 2</th>
      <th>Tarea 3</th>
      <th>Tarea 4</th>
      <th>Tarea 5</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input type="text" name="" value=""></td>
      <td><input type="text" name="" value=""></td>
      <td><input type="text" name="" value=""></td>
      <td><input type="text" name="" value=""></td>
      <td><input type="text" name="" value=""></td>

    </tr>
  </tbody>
  <thead>
    <tr>
      <th>Tarea 6</th>
      <th>Tarea 7</th>
      <th>Tarea 8</th>
      <th>Tarea 9</th>
      <th>Tarea 10</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input type="text" name="" value=""></td>
      <td><input type="text" name="" value=""></td>
      <td><input type="text" name="" value=""></td>
      <td><input type="text" name="" value=""></td>
      <td><input type="text" name="" value=""></td>

    </tr>
  </tbody>
  <thead>
    <tr>
      <th>Final</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input type="text" name="" value=""></td>

    </tr>
  </tbody>
</table>

<div class="form-group row">
  <div class="input-group col-md-8">
    <button
    [disabled]="!forma.valid"
    type="submit" class="btn btn-outline-primary">
      Guardar
    </button>

    <button

      [routerLink]="['/exploradores']"
      class="btn btn-outline-danger margin-button">
      Regresar

    </button>


  </div>
</div>

</form>
