/* You can add global styles to this file, and also import other style files */
.margin-container{
  margin-top: 40px;
}

.margin-button{

  margin-left: 40px;
}
.btn-check{
  margin-top: 10px;
  margin-left: 30px;
}

.margin{
  margin-left: 100px;
}
agm-map {
  height: 300px;
}

.list-group2{
    height: 200px;
    width: 500px;
}



.animated {
  -webkit-animation-duration: 1s;
  animation-duration :1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

}

.wd120{
  width: 230px;
}

.fast {
  -webkit-animation-duration: 0.3s;
  animation-duration :0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

}
